@import "../../colors.scss";
.login-container {
    width: 60%;
    margin: 12rem auto;
    text-align: center;
    &--disclaimer {
        margin-right: .5rem;
    }
    .link {
        text-decoration: underline;
    }
}