$darkShade: #02020a;
$deepBlue: #052074;
$pastelGreen: #4cb944;
$greenTea: #deefb7;
$pastelPink: #b497d6;
$deepRed: #960200;
$redAlert: #ff4242;
$pale: #b9b8af;
$ghostWhite: #f6f8ff;
$darkOrange: #f58a07;
$peach: #f9ab55;
